* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #3A415A;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
}

.navbar {
  background-color: #242432;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.logo img {
  height: 90px;
  width: 90px;
}

.logo span {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  margin-left: -15px;
  text-align: center;
  display: flex;
  
}

.search {
  position: relative;
  background-color: #E1E0EE;
  border-radius: 5px;
  width: 190px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #6C7489;
  padding: 5px 30px 5px 10px; 
  font-size: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  border-bottom: 2px solid transparent; 
  color: white; 
  transition: color 0.3s, border-bottom 0.3s; 
}

.nav-links a:hover {
  border-bottom: 2px solid #3b7ef5;
  color: #3b7ef5;
  transition: color 0.3s;
}

.grif {
    color: #3b7ef5;
}

.icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 55px;
  color: #e0e0f5;
  cursor: pointer;
}

.icons i:hover {
  color: #b7b7ff;
  transition: color 0.3s;
}

.profile img {
  border-radius: 100px;
  height: 58px;
  width: 59px;
  padding: 4px;
  margin-right: 15px;
}


/* ----------- Info - 01  ----------- */
.container-1 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border-radius: 10px;

  align-items: stretch; 
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  background: transparent;
}

.Lado-Esq,
.Lado-Dir {
  min-height: 70vh;  
  height: auto;       
  padding: 1rem;
  border-radius: 12px;
  color: #fff;
}

.Lado-Esq {
  background-color: #242432;
  flex: 1.5; 
  padding: 2rem;  
}

.Lado-Dir {
  flex: 1;   
  background-color: transparent;
}

/* ----------- Info - Lado Direito ----------- */
h3 {
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: lighter;
  text-align: left;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
  margin: 0 0 1rem 0;  
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.04rem;
    line-height: 1.6; 
}


/* ----------- Info - Lado Esquedo ----------- */

.ret-01 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;  
  gap: 8px;
  
  width: 55%;
  margin: 0;
  padding: 1rem;
  background-color: #242432;
  border-radius: 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.ret-01 i,
.ret-01 h4 {
  transition: color 0.3s ease;   
}

.ret-01:hover i,
.ret-01:hover h4 {
  color: #3b7ef5;
}

.ret-01 i {
  font-size: 2rem;   
  color: #fff;
  line-height: 1;      
  display: inline-flex;
  align-items: left;
  justify-content: left;
}
.ret-01 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: inherit; 
}

.ret-01 h4 {
  margin: 0;
  font-size: 1.6rem;   
  line-height: 1;      
  color: #fff;
  font-weight: 500;
   font-family: 'Orbitron', sans-serif;
}

/*  ret-02  */
.ret-02 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;  
  gap: 8px;
  
  width: 90%;
  margin: 0 ;
  padding: 1rem;
  background-color: #242432;
  border-radius: 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.ret-02 i,
.ret-02 h4 {
  transition: color 0.3s ease;   
}

.ret-02:hover i,
.ret-02:hover h4 {
  color: #3b7ef5;
}

.ret-02 i {
  font-size: 2rem;   
  color: #fff;
  line-height: 1;      
  display: inline-flex;
  align-items: left;
  justify-content: left;
}
.ret-02 a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  text-decoration: none;
  color: inherit; 
}


.ret-02 h4 {
  margin: 0;
  font-size: 1.6rem;   
  line-height: 1;      
  color: #fff;
  font-weight: 500;
  font-family: 'Orbitron', sans-serif;
}

.img1 {
     display: flex;
    justify-content: center; 
    width: 100%; 
}

.img1 img {
    width: 80%;         /* ajuste como quiser */
    height: auto;         /* mantém proporção */
    display: block;       /* evita espaços indesejados */
}

footer {
    background-color: #232331;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9rem;
    border-top: 1px solid #444;
}

footer .social-icons {
    margin-bottom: 5px;
}

footer .social-icons a {
    color: white;
    font-size: 40px;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .social-icons a:hover {
    color: #3b7ef5;
}

.lin {
    text-decoration: none;
    color: white;
}

.grif {
    color: #3b7ef5;
}

a {
    color: white;
}