/* Estilo geral */
:root {
    --primary-color: #3A415A;
    --secondary-color: #242432;
    --hover-color: #9188ff;
    --font-color: white;
    --font-color-secondary: #FDFDFD;
    --font-size-large: 28px;
    --border-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
    background-image: url(img/WhatsApp\ Image\ 2024-09-07\ at\ 15.03.30.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;     
}

.content {
  flex: 1;
}

.navbar {
  background-color: #242432;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.logo {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px; 
}

.logo img {
  height: 90px;
  width: 90px;
}

.logo span {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  margin-left: -15px;
  text-align: center;
  display: flex;
}

.search {
  position: relative;
  background-color: #E1E0EE;
  border-radius: 5px;
  width: 203px;
  margin-left: 20px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #6C7489;
  padding: 5px 30px 5px 10px; 
  font-size: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 35px;
  font-family: "Orbitron", sans-serif;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  border-bottom: 2px solid #3b7ef5;
  color: #3b7ef5;
  transition: color 0.3s;
}

.icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 55px;
  color: #e0e0f5;
  cursor: pointer;
}

.icons i:hover {
  color: #b7b7ff;
  transition: color 0.3s;
}

.profile img {
  border: 2px solid palevioletred ;
  border-radius: 100px;
  height: 58px;
  width: 59px;
  padding: 4px;
  margin-right: 15px;
}

.btn {
    background-color: #6c6f89;
    color: white;
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px; 
    display: flex;
    align-items: center; /* Alinha verticalmente o texto ao centro */
    justify-content: center; /* Alinha horizontalmente o texto ao centro */
    height: 25px; /* Ajuste a altura do botão conforme necessário */
    width: auto; /* Ajusta a largura conforme o conteúdo */
}

.btn:hover {
    background-color: #9188ff;
    color: white;
    transition: color 0.3s ease;
}

/* Página de login */
.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Isso faz com que a página de login ocupe o espaço disponível */
    padding: 35px;
}

.form-login {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: 2px;
    padding: 20px 30px;
    width: 80%;
    max-width: 490px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 510px;
    margin-bottom: 40px; /* Aqui você pode ajustar a distância */
}

.form-login input::placeholder {
    color: #6c6f89;
}

.form-login h1 {
    font-size: 45px;
    color: var(--font-color);
    margin-bottom: 40px;
}

.form-login label {
    font-size: 16px;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    margin-bottom: 9px;
}

.form-login input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px; 
    border: 1px solid var(--border-color); 
    margin-bottom: 15px; 
    background-color: white; 
    color: black; 
    height: 40px;
}

.form-login input:focus {
    border-color: #9188ff;
    outline: none;
}

.form-login a {
    color: white; 
    font-size: 13px;
    margin-bottom: 15px;
    transition: color 0.3s;
    margin-bottom: 31px;
}

.form-login a:hover {
    color: #9188ff;
}

/* Mensagens de erro e cadastro */
.erro-login, .cadastre-se {
    color: var(--font-color);
    font-size: 13px;
    text-align: center;
    transition: color 0.3s;
}

p {
    color: white;
    text-align: center;
}

.no-underline {
    text-decoration: none;
}

.form-login button {
    background-color: #3A415A; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    padding: 8px 20px; /* Espaçamento interno do botão */
    font-size: 16px; /* Tamanho da fonte do botão */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Família da fonte do botão */
    border-radius: 5px; /* Arredondamento das bordas do botão */
    cursor: pointer; /* Cursor de pointer quando o mouse passa sobre o botão */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    width: 100px;
    margin: 0 auto;

}

.form-login button:hover {
    background-color: #9188ff; /* Cor de fundo do botão ao passar o mouse sobre ele */
}

footer {
  background-color: #232331; 
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  font-family: sans-serif;
  border-top: 1px solid #444; 
}

footer .social-icons {
  margin-bottom: 5px;
}

footer .social-icons a {
  color: white;
  font-size: 40px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #3b7ef5; 
}

.lin {
  text-decoration: none;
  color: white;
}