* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #3A415A;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
}

.navbar {
  background-color: #242432;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.logo img {
  height: 90px;
  width: 90px;
}

.logo span {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  margin-left: -15px;
  text-align: center;
  display: flex;
  
}

.search {
  position: relative;
  background-color: #E1E0EE;
  border-radius: 5px;
  width: 190px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #6C7489;
  padding: 5px 30px 5px 10px; 
  font-size: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  border-bottom: 2px solid #3b7ef5;
  color: #3b7ef5;
  transition: color 0.3s;
}

.icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 55px;
  color: #e0e0f5;
  cursor: pointer;
}

.icons i:hover {
  color: #b7b7ff;
  transition: color 0.3s;
}

.profile img {
  border-radius: 100px;
  height: 58px;
  width: 59px;
  padding: 4px;
  margin-right: 15px;
}

/* ===== Container do jogo ===== */
.container {
  padding: 30px;
}

.card-jogo {
  display: flex;
  background: #2C2E40;
  padding: 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  gap: 30px;
}

/* Imagem do jogo */
.img-jogo img {
  width: 400px;  /* bem maior que antes */
  border-radius: 12px;
}

/* Lado direito (infos + botões) */
.game-info {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.game-title {
  font-size: 32px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
}

.price-box {
  margin-bottom: 20px;
  font-size: 20px;
}

.old-price {
  text-decoration: line-through;
  color: #aaa;
  margin-right: 8px;
}

.discounted-price {
  color: #2873C9;
  font-weight: bold;
  margin-right: 8px;
}

.discount {
  color: #2873C9;
  font-weight: bold;
}

/* Botões alinhados na vertical */
.btn-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 250px;
}

.btn-box button {
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.buy-btn { background: #2873C9; color: white; 
transition: 0.3s;}
.buy-btn:hover { background: #ffff; color: black;
transition: 0.3s;}

.wishlist-btn { background: #76809B; color: white; 
transition: 0.3s;}
.wishlist-btn:hover { background: #ffff; color: black;
transition: 0.3s;}

.cart-btn { background: #76809B; color: white; 
transition: 0.3s;}
.cart-btn:hover { background: #ffff; color: black;
transition: 0.3s;
}


/* ===== Descrição ===== */
.game-description {
  margin-top: 25px;
  background: #242432;
  padding: 20px;
  border-radius: 10px;
  color: white;
  line-height: 1.6;
}

/* ===== Parte inferior ===== */
.bottom-section {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Avaliações e Conquistas lado a lado */
  gap: 30px;
  margin-top: 30px;
  text-decoration: none;
}

/* ===== Avaliações ===== */
.chat-box {
  background: #2C2E40;
  padding: 20px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
}

.chat-box h3 {
  margin-bottom: 15px;
  font-family: "Orbitron", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #3b7ef5;
  padding-bottom: 5px;
}

.messages {
  max-height: 250px;
  overflow-y: auto;
  margin-bottom: 15px;
}

.messages p {
  background: #242432;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.messages small {
  color: #aaa;
}

.chat-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-form textarea {
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #242432;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.chat-form select {
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #242432;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.chat-form button {
  background: #3b7ef5;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: 0.3s;
}

.chat-form button:hover {
  background: #2a5ed7;
}

/* ===== Conquistas ===== */
.achievements-box {
  background: #2C2E40;
  padding: 20px;
  border-radius: 12px;
  color: white;
}

.achievements-box h3 {
  margin-bottom: 15px;
  font-family: "Orbitron", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #3b7ef5;
  padding-bottom: 5px;
  text-decoration: none;
}

.achievements-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.achievements-box li {
  background: #242432;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.achievements-box li strong {
  color: #3b7ef5;
}

.achievements-box li:hover {
  background: #3A415A;
}

/* ===== Conteúdo Extra ===== */
.extra-content {
  background: #2C2E40;
  padding: 20px;
  border-radius: 12px;
  color: white;
  margin-top: 30px;
  text-align: center;
}

.extra-content h3 {
  margin-bottom: 15px;
  font-family: "Orbitron", sans-serif;
  font-size: 22px;
  border-bottom: 2px solid #3b7ef5;
  padding-bottom: 5px;
}

.extra-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.extra-slider img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  background: #242432;
  padding: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.extra-slider img:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(59, 126, 245, 0.6);
}

.extra-slider button {
  background: none;
  border: none;
  font-size: 28px;
  color: #3b7ef5;
  cursor: pointer;
  transition: 0.3s;
}

.extra-slider button:hover {
  color: #2a5ed7;
}




/* ===== Rodapé ===== */

footer {
  background-color: #232331; 
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  border-top: 1px solid #444; 
}

footer .social-icons {
  margin-bottom: 5px;
}

footer .social-icons a {
  color: white;
  font-size: 40px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #3b7ef5; 
}

.lin {
  text-decoration: none;
  color: white;
}

.grif {
    color: #3b7ef5;
}

a {
    color: white;
    text-decoration: none;
}