* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #3A415A;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
}

.navbar {
  background-color: #242432;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.logo img {
  height: 90px;
  width: 90px;
}

.logo span {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  margin-left: -15px;
  text-align: center;
  display: flex;
  
}

.search {
  position: relative;
  background-color: #E1E0EE;
  border-radius: 5px;
  width: 190px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #6C7489;
  padding: 5px 30px 5px 10px; 
  font-size: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  border-bottom: 2px solid #3b7ef5;
  transition: color 0.3s;
}

.icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 55px;
  color: #e0e0f5;
  cursor: pointer;
}

.icons i:hover {
  color: #b7b7ff;
  transition: color 0.3s;
}

.profile img {
  border-radius: 100px;
  height: 58px;
  width: 59px;
  padding: 4px;
  margin-right: 15px;
}

/**Corpo**/

.banner {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background-color: #07060D; 
  border-radius: 10px;
  overflow: hidden;
  height: 240px; 
  padding-left: 0px;
}

.banner-info {
  width: 61%; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 40px;
}

.banner-info h2 {
  font-size: 2.2rem;
  font-family: "Orbitron", sans-serif;
  font-weight: lighter;
}

.banner-img {
  width: 40%;
}

.banner-img img {
  width: 100%;  
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px;  
  opacity: 0.7;
}

.descubra-btn {
  padding: 2px 24px;
  background-color: #242432;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: lighter;
  font-family: 'Orbitron', sans-serif;
  font-size: 24px;
  cursor: pointer;
  align-self: center; 
}

.descubra-btn:hover {
  transition: 0.3s;
  background-color: #E1E0EE;
  color: #1f1f33;
}


.Car {
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: lighter;
}

.nave-buttons {
  display: flex;
  justify-content: center;
  gap: 78px;
  margin-bottom: 30px;
}

.nave-buttons button {
  padding: 4px 20px;
  background: #242432;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: #fff;
  font-weight: lighter;
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

.nave-buttons button:hover {
  transition: 0.5s;
  transform: scale(1.1);
  background-color: #E1E0EE;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #1f1f33;
}
 
/**Carousel**/
.carousel-inner {
  overflow: visible;
}

.carousel-control-prev{
    max-width: 40px;
    left: -50px;
}

.carousel-control-next {
    max-width: 40px;
    right: -50px;
}

#carouselRecomendado,
#carouselPopulares,
#carouselLancados{
  width: 100%;   
  max-width: 1200px; 
  height: 150px; 
  margin: 0 auto;
}

.jogos{
  transition: transform .3s;
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
}

.jogos:hover {
    transform: scale(1.1);
}

/**fim do carousel**/

footer {
  background-color: #232331; 
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  border-top: 1px solid #444; 
}

footer .social-icons {
  margin-bottom: 5px;
}

footer .social-icons a {
  color: white;
  font-size: 40px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #3b7ef5; 
}

.lin {
  text-decoration: none;
  color: white;
}

.grif {
    color: #3b7ef5;
}

a {
    color: white;
}