* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
}

body {
  background-color: #3A415A;
  display: flex;
  flex-direction: column;
}


.content {
  flex: 1;
}

.navbar {
  background-color: #242432;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.logo img {
  height: 90px;
  width: 90px;
}

.logo span {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  margin-left: -15px;
  text-align: center;
  display: flex;
  
}

.search {
  position: relative;
  background-color: #E1E0EE;
  border-radius: 5px;
  width: 190px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #6C7489;
  padding: 5px 30px 5px 10px; 
  font-size: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  border-bottom: 2px solid transparent;
}

.nav-links a:hover {
  border-bottom: 2px solid #3b7ef5;
  color: #3b7ef5;
  transition: color 0.3s;
}

.icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 55px;
  color: #e0e0f5;
  cursor: pointer;
}

.icons i:hover {
  color: #b7b7ff;
  transition: color 0.3s;
}

.profile img {
  border: 2px solid palevioletred ;
  border-radius: 100px;
  height: 58px;
  width: 59px;
  padding: 4px;
  margin-right: 15px;
}

.lancamentos {
  color: #fff;
  padding: 2rem;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}


.lancamentos .conteudo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap; 
}


.lancamentos .descricao {
  flex: 1;
  line-height: 1.6;
}


.lancamentos .destaque img {
  width: 100%;
  max-width: 600px; 
  border-radius: 10px;
}

.lancamentos h2 {
  font-size: 48px;
  font-weight: lighter;
  margin-bottom: 1rem;  
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1px;
}

.lancamentos p {
  font-size: 20px;
  margin-bottom: 1rem;  
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.descricao {
  margin-bottom: 2rem;
  line-height: 1.6;
}

.dev {
  display: block;
  text-align: center;
  margin-top: 0.8rem;
  font-family: "Poppins" sans-serif;
  font-size: 16px;
  text-decoration: underline;
  color: #ffffff;
}

.destaque img {
  width: 100%;
  max-width: 570px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.cards {
  display: flex;
  gap: 20%;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: center; 
  align-items: center;  
}

.card {
  position: relative;
  background: #3a3f5c;
  border-radius: 10px;
  overflow: hidden;
  flex: 1 1 200px;
  max-width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.tag {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #fff;
  color: #000;
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}

footer {
  background-color: #232331; 
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 0.9rem;
  border-top: 1px solid #444; 
}

footer .social-icons {
  margin-bottom: 5px;
}

footer .social-icons a {
  color: white;
  font-size: 40px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer .social-icons a:hover {
  color: #3b7ef5; 
}

.lin {
  text-decoration: none;
  color: white;
}
