/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Estilo geral */
:root {
    --primary-color: #3A415A;
    --secondary-color: #242432;
    --hover-color: #9188ff;
    --font-color: #fff;
    --font-color-secondary: #FDFDFD;
    --font-size-large: 28px;
    --border-color: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Orbitron', sans-serif;
    color: var(--font-color);
    background-image: url('../Img/Background.jpeg');
    background-repeat: no-repeat;
    background-color: #242432;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;     
}

.content {
  flex: 1;
}

.navbar {
  background-color: #242432;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px; 
}

.logo img {
  height: 90px;
  width: 90px;
}

.logo span {
  font-weight: bold;
  color: white;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  margin-left: -15px;
  text-align: center;
  display: flex;
}

.search {
  position: relative;
  background-color: #E1E0EE;
  border-radius: 5px;
  width: 190px;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: #6C7489;
  padding: 5px 30px 5px 10px; 
  font-size: 15px;
  gap: 15px;
  box-sizing: border-box;
}

.search i {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
  font-size: 22px;
}

.nav-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  font-size: 32px;
  font-family: "Orbitron", sans-serif;
  border-bottom: 2px solid transparent;
  color: white;
}

.nav-links a:hover {
  border-bottom: 2px solid #3b7ef5;
  color: #3b7ef5;
  transition: color 0.3s;
}

.grif {
    color: #3b7ef5;
}

.icons {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 20px;
}

.icons i {
  font-size: 55px;
  color: #e0e0f5;
  cursor: pointer;
}

.icons i:hover {
  color: #b7b7ff;
  transition: color 0.3s;
}

.profile img {
  border-radius: 100px;
  height: 70px;
  width: 85px;
  margin-right: 15px;
  margin-left: -20px;
}


.btn {
    background-color: #6c6f89;
    color: white;
    border: none;
    padding: 5px 10px; 
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 25px; 
    width: auto; 
}

.btn:hover {
    background-color: #9188ff;
    color: white;
    transition: color 0.3s ease;
}

.mdi {
    color: #C0C0C0;
    font-size: 25px;
    font-weight: normal; 
    cursor: pointer;
}

.mdi:hover {
    color:  #7b6f7e;
}

.container {
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    margin-top: 40px; 
    text-align: center; 
}
  
.botao {
    background-color: #232331; 
    color: white; 
    align-items: center;
    margin-top: -30px;
    padding: 15px 200px; 
    border-radius: 3px; 
    border: none; 
    font-size: 26px; 
    text-align: center; 
    position: relative; 
}
  
.botao::after {
    content: ''; 
    display: block;
    width: 60%; 
    height: 2px; 
    background-color: white; 
    margin: 0 auto; 
    position: absolute;
    bottom: 8px; 
    left: 0;
    right: 0;
}

/* ------------------------ CARRINHO ------------------------ */
.cart-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-title {
  font-size: 32px;
  color: white;
  margin-bottom: 20px;
}

.cart-box {
  display: flex;
  background-color: #2a2a3d;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 15px #3b7ef5;
}


.cart-items {
  flex: 3;
  max-height: 500px; 
  overflow-y: auto;   
  padding-right: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #3a3a50;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.cart-item img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.cart-info {
  flex: 1;
  margin-left: 15px;
}

.cart-info h3 {
  margin: 0;
  font-size: 18px;
}

.cart-info p {
  margin: 2px 0;
  font-size: 14px;
  color: #ccc;
}

.cart-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-price span {
  font-size: 16px;
  font-weight: bold;
}

.remove-icon {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: white; 
    padding: 0;
}

.remove-icon:hover {
    color: #ff5555;
}

.cart-summary {
  flex: 1;
  border-left: 2px solid #444;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
}

.cart-summary p {
  font-size: 18px;
  margin-top: 120px;
}

.cart-items::-webkit-scrollbar {
    width: 8px;
}

.cart-items::-webkit-scrollbar-thumb {
    background-color: #3b7ef5;
    border-radius: 4px;
}

.cart-items::-webkit-scrollbar-track {
    background: #2a2a3d;
}

.blue-btn {
  background: #3b7ef5;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 20px;
  width: 100%;
}

.blue-btn:hover {
  background: #295fcc;
}

.blue-btn-two {
  background: #3b7ef5;
  border: none;
  padding: 10px;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-top: 75px;
  width: 100%;
  margin-bottom: 100px;
}

.blue-btn-two:hover {
  background: #295fcc;
}
.cart-summary {
  flex: 1;
  border-left: 2px solid #444;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.cart-summary p {
  font-size: 18px;
  margin-bottom: 10px; 
}

.cart-buttons {
    display: flex;
    flex-direction: column; 
    gap: 10px;              
    margin-top: 10px;       
}

.blue-btn, .blue-btn-two {
    width: 100%;
    margin-top: 0;
}

.facebook {
    background-color: #304850;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 227px;
}

.google {
    background-color: #304850;
    color: white;
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 120px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 80px;
    transform: translateY(-52px);
}

.proximo:hover, .facebook:hover, .google:hover {
    background-color: #e1b2ff;
}

f.facebook {
    background-color: #304850;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 227px;
}

.google {
    background-color: #304850;
    color: white;
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    width: 120px;
    margin: 0 auto;
    margin-top: 5px;
    margin-left: 80px;
    transform: translateY(-52px);
}

.proximo:hover, .facebook:hover, .google:hover {
    background-color: #e1b2ff;
}

footer {
  background-color: #242432; 
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}


footer .social-icons {
  margin-bottom: 10px;
}

footer .social-icons a {
  margin: 0 8px; 
}

footer .social-icons i {
  color: white !important;  
  font-size: 40px !important; 
  vertical-align: middle;
}

footer .social-icons i:hover {
  color: #3b7ef5; 
  transform: scale(1.15);
}

footer p {
  margin-top: 10px;
  font-size: 20px;
  color: white !important ;
}

.lin {
  text-decoration: none;
  color: white;
}
